# Documentation for configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      target-branch: 'main' # Avoid updates to "staging".
      schedule:
          interval: 'weekly'
      groups:
          typescript-eslint:
              patterns:
                  - '@typescript-eslint/*'
      commit-message:
          prefix: 'chore'
