.DS_Store
build
.gradle
.idea
**/*.tgz
.testresults/**
server/aws-lsp-codewhisperer/src.gen/@amzn/codewhisperer-streaming/dist*

# Visual Studio Related
**/.vs
**/bin
**/obj

# LSP Related
**/dist
**/out
**/bundle
**/node_modules
**/.vscode-test
!/bin
*.tsbuildinfo
app/aws-lsp-partiql-runtimes
