package-lock.json
dist/
node_modules/
out/
**/bin/
**/obj/
server/aws-lsp-codewhisperer/src/client/sigv4/codewhisperersigv4client.d.ts
server/aws-lsp-codewhisperer/src/client/token/codewhispererbearertokenclient.d.ts
**/*.md
**/antlr-generated/