// Global scss vars

/**
* Status
*/
$mynah-statuses: ('success', 'error', 'warning', 'info');

/**
 * Padding sizes
 */
$mynah-padding-sizes: (
    'none': 0,
    'small': 1,
    'medium': 3,
    'large': 4,
);

$mynah-code-blocks-wrap-under: 300px;
