.mynah-no-tabs-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--mynah-sizing-6);
    flex: 1;
    &.hidden {
        display: none;
    }
    &:not(.hidden) + .mynah-ui-tab-contents-wrapper {
        display: none;
    }
    > .mynah-no-tabs-icon-wrapper {
        > .mynah-ui-icon {
            font-size: calc(2 * var(--mynah-sizing-18));
            color: var(--mynah-color-text-weak);
            opacity: 0.15;
        }
    }
    > .mynah-no-tabs-info {
        > * {
            margin: 1rem;
        }
        color: var(--mynah-color-text-weak);
        font-size: var(--mynah-font-size-large);
        opacity: 0.75;
        text-align: center;
    }
    > .mynah-no-tabs-buttons-wrapper {
        > .mynah-button {
            padding: var(--mynah-sizing-2) var(--mynah-sizing-3);
            max-height: initial;
            max-width: initial;
            height: auto;
            width: auto;
        }
    }
}
