out
**/node_modules
*.bk
**/.DS_Store
.idea
.gitcommit
.github
.eslintignore
.gitignore
.npmignore
.eslintrc.json
package-lock.json
tsconfig.json
webpack.config.js
**/src
api-docs
**/__test__
example
example-react