html[theme='dark-ayu-mirage']:root {
    --vscode-foreground: #707a8c;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-errorForeground: #ff6666;
    --vscode-descriptionForeground: #707a8c;
    --vscode-icon-foreground: #707a8c;
    --vscode-focusBorder: rgba(255, 204, 102, 0.7);
    --vscode-selection-background: rgba(64, 159, 255, 0.25);
    --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --vscode-textLink-foreground: #ffcc66;
    --vscode-textLink-activeForeground: #ffcc66;
    --vscode-textPreformat-foreground: #cccac2;
    --vscode-textBlockQuote-background: #1c212b;
    --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --vscode-widget-shadow: rgba(18, 21, 28, 0.7);
    --vscode-input-background: #242936;
    --vscode-input-foreground: #cccac2;
    --vscode-input-border: rgba(112, 122, 140, 0.27);
    --vscode-inputOption-activeBorder: rgba(255, 204, 102, 0.3);
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: rgba(255, 204, 102, 0.2);
    --vscode-inputOption-activeForeground: #ffcc66;
    --vscode-input-placeholderForeground: rgba(112, 122, 140, 0.5);
    --vscode-inputValidation-infoBackground: #1f2430;
    --vscode-inputValidation-infoBorder: #5ccfe6;
    --vscode-inputValidation-warningBackground: #1f2430;
    --vscode-inputValidation-warningBorder: #ffd173;
    --vscode-inputValidation-errorBackground: #242936;
    --vscode-inputValidation-errorBorder: #ff6666;
    --vscode-dropdown-background: #242936;
    --vscode-dropdown-foreground: #707a8c;
    --vscode-dropdown-border: rgba(112, 122, 140, 0.27);
    --vscode-button-foreground: #805500;
    --vscode-button-separator: rgba(128, 85, 0, 0.4);
    --vscode-button-background: #ffcc66;
    --vscode-button-hoverBackground: #fac761;
    --vscode-button-secondaryForeground: #cccac2;
    --vscode-button-secondaryBackground: rgba(112, 122, 140, 0.2);
    --vscode-button-secondaryHoverBackground: rgba(112, 122, 140, 0.5);
    --vscode-badge-background: rgba(255, 204, 102, 0.2);
    --vscode-badge-foreground: #ffcc66;
    --vscode-scrollbar-shadow: rgba(23, 27, 36, 0);
    --vscode-scrollbarSlider-background: rgba(112, 122, 140, 0.4);
    --vscode-scrollbarSlider-hoverBackground: rgba(112, 122, 140, 0.6);
    --vscode-scrollbarSlider-activeBackground: rgba(112, 122, 140, 0.7);
    --vscode-progressBar-background: #ffcc66;
    --vscode-editorError-foreground: #ff6666;
    --vscode-editorWarning-foreground: #ffcc66;
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-sash-hoverBorder: rgba(255, 204, 102, 0.7);
    --vscode-editor-background: #242936;
    --vscode-editor-foreground: #cccac2;
    --vscode-editorStickyScroll-background: #242936;
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorWidget-background: #1f2430;
    --vscode-editorWidget-foreground: #707a8c;
    --vscode-editorWidget-border: #171b24;
    --vscode-quickInput-background: #1f2430;
    --vscode-quickInput-foreground: #707a8c;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-pickerGroup-foreground: rgba(112, 122, 140, 0.5);
    --vscode-pickerGroup-border: #171b24;
    --vscode-keybindingLabel-background: rgba(112, 122, 140, 0.1);
    --vscode-keybindingLabel-foreground: #cccac2;
    --vscode-keybindingLabel-border: rgba(204, 202, 194, 0.1);
    --vscode-keybindingLabel-bottomBorder: rgba(204, 202, 194, 0.1);
    --vscode-editor-selectionBackground: rgba(64, 159, 255, 0.25);
    --vscode-editor-inactiveSelectionBackground: rgba(64, 159, 255, 0.13);
    --vscode-editor-selectionHighlightBackground: rgba(135, 217, 108, 0.15);
    --vscode-editor-selectionHighlightBorder: rgba(135, 217, 108, 0);
    --vscode-editor-findMatchBackground: #695380;
    --vscode-editor-findMatchHighlightBackground: rgba(105, 83, 128, 0.4);
    --vscode-editor-findRangeHighlightBackground: rgba(105, 83, 128, 0.25);
    --vscode-editor-findMatchBorder: #695380;
    --vscode-editor-findMatchHighlightBorder: rgba(92, 70, 114, 0.4);
    --vscode-searchEditor-findMatchBackground: rgba(105, 83, 128, 0.26);
    --vscode-searchEditor-findMatchBorder: rgba(92, 70, 114, 0.26);
    --vscode-search-resultsInfoForeground: rgba(112, 122, 140, 0.65);
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editorHoverWidget-background: #1f2430;
    --vscode-editorHoverWidget-foreground: #707a8c;
    --vscode-editorHoverWidget-border: #171b24;
    --vscode-editorHoverWidget-statusBarBackground: #252b3a;
    --vscode-editorLink-activeForeground: #ffcc66;
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-background: rgba(255, 204, 102, 0.02);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(255, 204, 102, 0.02);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(255, 204, 102, 0.02);
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-diffEditor-insertedTextBackground: rgba(135, 217, 108, 0.12);
    --vscode-diffEditor-removedTextBackground: rgba(242, 121, 131, 0.12);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-diagonalFill: #171b24;
    --vscode-diffEditor-unchangedRegionBackground: #3e3e3e;
    --vscode-diffEditor-unchangedRegionForeground: #a3a2a2;
    --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
    --vscode-list-focusBackground: rgba(99, 117, 153, 0.15);
    --vscode-list-focusForeground: #cccac2;
    --vscode-list-focusOutline: rgba(99, 117, 153, 0.15);
    --vscode-list-activeSelectionBackground: rgba(99, 117, 153, 0.15);
    --vscode-list-activeSelectionForeground: #cccac2;
    --vscode-list-inactiveSelectionBackground: rgba(105, 117, 140, 0.12);
    --vscode-list-inactiveSelectionForeground: #707a8c;
    --vscode-list-hoverBackground: rgba(99, 117, 153, 0.15);
    --vscode-list-dropBackground: #062f4a;
    --vscode-list-highlightForeground: #ffcc66;
    --vscode-list-focusHighlightForeground: #ffcc66;
    --vscode-list-invalidItemForeground: rgba(112, 122, 140, 0.3);
    --vscode-list-errorForeground: #ff6666;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #1c212b;
    --vscode-listFilterWidget-outline: #ffcc66;
    --vscode-listFilterWidget-noMatchesOutline: #ff6666;
    --vscode-listFilterWidget-shadow: rgba(18, 21, 28, 0.7);
    --vscode-list-filterMatchBackground: rgba(92, 70, 114, 0.4);
    --vscode-list-filterMatchBorder: rgba(105, 83, 128, 0.4);
    --vscode-tree-indentGuidesStroke: rgba(138, 145, 153, 0.35);
    --vscode-tree-inactiveIndentGuidesStroke: rgba(138, 145, 153, 0.14);
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(112, 122, 140, 0.04);
    --vscode-list-deemphasizedForeground: #ff6666;
    --vscode-checkbox-background: #242936;
    --vscode-checkbox-selectBackground: #1f2430;
    --vscode-checkbox-foreground: #707a8c;
    --vscode-checkbox-border: rgba(112, 122, 140, 0.27);
    --vscode-checkbox-selectBorder: #707a8c;
    --vscode-quickInputList-focusForeground: #cccac2;
    --vscode-quickInputList-focusBackground: rgba(99, 117, 153, 0.15);
    --vscode-menu-foreground: #707a8c;
    --vscode-menu-background: #242936;
    --vscode-menu-selectionForeground: #cccac2;
    --vscode-menu-selectionBackground: rgba(99, 117, 153, 0.15);
    --vscode-menu-separatorBackground: #606060;
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-editor-snippetTabstopHighlightBackground: rgba(135, 217, 108, 0.2);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-breadcrumb-foreground: rgba(112, 122, 140, 0.8);
    --vscode-breadcrumb-background: #242936;
    --vscode-breadcrumb-focusForeground: #7e8797;
    --vscode-breadcrumb-activeSelectionForeground: #7e8797;
    --vscode-breadcrumbPicker-background: #1f2430;
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-findMatchForeground: #695380;
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-minimap-findMatchHighlight: #695380;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-selectionHighlight: rgba(64, 159, 255, 0.25);
    --vscode-minimap-errorHighlight: #ff6666;
    --vscode-minimap-warningHighlight: #ffcc66;
    --vscode-minimap-background: #242936;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(112, 122, 140, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(112, 122, 140, 0.3);
    --vscode-minimapSlider-activeBackground: rgba(112, 122, 140, 0.35);
    --vscode-problemsErrorIcon-foreground: #ff6666;
    --vscode-problemsWarningIcon-foreground: #ffcc66;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-charts-foreground: #707a8c;
    --vscode-charts-lines: rgba(112, 122, 140, 0.5);
    --vscode-charts-red: #ff6666;
    --vscode-charts-blue: #3794ff;
    --vscode-charts-yellow: #ffcc66;
    --vscode-charts-orange: #695380;
    --vscode-charts-green: #89d185;
    --vscode-charts-purple: #b180d7;
    --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive\.border: #ffa500;
    --vscode-symbolIcon-arrayForeground: #707a8c;
    --vscode-symbolIcon-booleanForeground: #707a8c;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #707a8c;
    --vscode-symbolIcon-constantForeground: #707a8c;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #707a8c;
    --vscode-symbolIcon-folderForeground: #707a8c;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #707a8c;
    --vscode-symbolIcon-keywordForeground: #707a8c;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #707a8c;
    --vscode-symbolIcon-namespaceForeground: #707a8c;
    --vscode-symbolIcon-nullForeground: #707a8c;
    --vscode-symbolIcon-numberForeground: #707a8c;
    --vscode-symbolIcon-objectForeground: #707a8c;
    --vscode-symbolIcon-operatorForeground: #707a8c;
    --vscode-symbolIcon-packageForeground: #707a8c;
    --vscode-symbolIcon-propertyForeground: #707a8c;
    --vscode-symbolIcon-referenceForeground: #707a8c;
    --vscode-symbolIcon-snippetForeground: #707a8c;
    --vscode-symbolIcon-stringForeground: #707a8c;
    --vscode-symbolIcon-structForeground: #707a8c;
    --vscode-symbolIcon-textForeground: #707a8c;
    --vscode-symbolIcon-typeParameterForeground: #707a8c;
    --vscode-symbolIcon-unitForeground: #707a8c;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-actionBar-toggledBackground: rgba(255, 204, 102, 0.2);
    --vscode-editorHoverWidget-highlightForeground: #ffcc66;
    --vscode-editor-lineHighlightBackground: #1a1f29;
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-rangeHighlightBackground: rgba(105, 83, 128, 0.2);
    --vscode-editor-symbolHighlightBackground: rgba(105, 83, 128, 0.4);
    --vscode-editorCursor-foreground: #ffcc66;
    --vscode-editorWhitespace-foreground: rgba(138, 145, 153, 0.4);
    --vscode-editorLineNumber-foreground: rgba(138, 145, 153, 0.4);
    --vscode-editorIndentGuide-background: rgba(138, 145, 153, 0.18);
    --vscode-editorIndentGuide-activeBackground: rgba(138, 145, 153, 0.35);
    --vscode-editorIndentGuide-background1: rgba(138, 145, 153, 0.18);
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground1: rgba(138, 145, 153, 0.35);
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorLineNumber-activeForeground: rgba(138, 145, 153, 0.8);
    --vscode-editorRuler-foreground: rgba(138, 145, 153, 0.18);
    --vscode-editorCodeLens-foreground: rgba(184, 207, 230, 0.5);
    --vscode-editorBracketMatch-background: rgba(138, 145, 153, 0.3);
    --vscode-editorBracketMatch-border: rgba(138, 145, 153, 0.3);
    --vscode-editorOverviewRuler-border: #171b24;
    --vscode-editorGutter-background: #242936;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: #ff6666;
    --vscode-editorOverviewRuler-warningForeground: #ffcc66;
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #bd9b03;
    --vscode-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
    --vscode-editorOverviewRuler-bracketMatchForeground: rgba(138, 145, 153, 0.7);
    --vscode-editor-foldBackground: rgba(64, 159, 255, 0.07);
    --vscode-editorGutter-foldingControlForeground: #707a8c;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-wordHighlightBackground: rgba(128, 191, 255, 0.08);
    --vscode-editor-wordHighlightStrongBackground: rgba(135, 217, 108, 0.08);
    --vscode-editor-wordHighlightTextBackground: rgba(128, 191, 255, 0.08);
    --vscode-editor-wordHighlightBorder: rgba(128, 191, 255, 0.5);
    --vscode-editor-wordHighlightStrongBorder: rgba(135, 217, 108, 0.5);
    --vscode-editor-wordHighlightTextBorder: rgba(128, 191, 255, 0.5);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(128, 191, 255, 0.4);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(135, 217, 108, 0.4);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-peekViewTitle-background: rgba(99, 117, 153, 0.15);
    --vscode-peekViewTitleLabel-foreground: #cccac2;
    --vscode-peekViewTitleDescription-foreground: #707a8c;
    --vscode-peekView-border: rgba(99, 117, 153, 0.15);
    --vscode-peekViewResult-background: #1f2430;
    --vscode-peekViewResult-lineForeground: #707a8c;
    --vscode-peekViewResult-fileForeground: #cccac2;
    --vscode-peekViewResult-selectionBackground: rgba(99, 117, 153, 0.15);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewEditor-background: #1f2430;
    --vscode-peekViewEditorGutter-background: #1f2430;
    --vscode-peekViewEditorStickyScroll-background: #1f2430;
    --vscode-peekViewResult-matchHighlightBackground: rgba(105, 83, 128, 0.4);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(105, 83, 128, 0.4);
    --vscode-peekViewEditor-matchHighlightBorder: rgba(92, 70, 114, 0.4);
    --vscode-editorMarkerNavigationError-background: #ff6666;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(255, 102, 102, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #ffcc66;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(255, 204, 102, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigation-background: #1c212b;
    --vscode-editorSuggestWidget-background: #1c212b;
    --vscode-editorSuggestWidget-border: #171b24;
    --vscode-editorSuggestWidget-foreground: #cccac2;
    --vscode-editorSuggestWidget-selectedForeground: #cccac2;
    --vscode-editorSuggestWidget-selectedBackground: rgba(99, 117, 153, 0.15);
    --vscode-editorSuggestWidget-highlightForeground: #ffcc66;
    --vscode-editorSuggestWidget-focusHighlightForeground: #ffcc66;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(204, 202, 194, 0.5);
    --vscode-tab-activeBackground: #242936;
    --vscode-tab-unfocusedActiveBackground: #242936;
    --vscode-tab-inactiveBackground: #1f2430;
    --vscode-tab-unfocusedInactiveBackground: #1f2430;
    --vscode-tab-activeForeground: #cccac2;
    --vscode-tab-inactiveForeground: #707a8c;
    --vscode-tab-unfocusedActiveForeground: #707a8c;
    --vscode-tab-unfocusedInactiveForeground: #707a8c;
    --vscode-tab-border: #171b24;
    --vscode-tab-lastPinnedBorder: rgba(138, 145, 153, 0.35);
    --vscode-tab-activeBorder: #242936;
    --vscode-tab-unfocusedActiveBorder: rgba(36, 41, 54, 0.5);
    --vscode-tab-activeBorderTop: #ffcc66;
    --vscode-tab-unfocusedActiveBorderTop: #707a8c;
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-editorPane-background: #242936;
    --vscode-editorGroupHeader-tabsBackground: #1f2430;
    --vscode-editorGroupHeader-tabsBorder: #171b24;
    --vscode-editorGroupHeader-noTabsBackground: #1f2430;
    --vscode-editorGroup-border: #171b24;
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroup-dropIntoPromptForeground: #707a8c;
    --vscode-editorGroup-dropIntoPromptBackground: #1f2430;
    --vscode-sideBySideEditor-horizontalBorder: #171b24;
    --vscode-sideBySideEditor-verticalBorder: #171b24;
    --vscode-panel-background: #1f2430;
    --vscode-panel-border: #171b24;
    --vscode-panelTitle-activeForeground: #cccac2;
    --vscode-panelTitle-inactiveForeground: #707a8c;
    --vscode-panelTitle-activeBorder: #ffcc66;
    --vscode-panelInput-border: rgba(112, 122, 140, 0.27);
    --vscode-panel-dropBorder: #cccac2;
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: #171b24;
    --vscode-banner-background: rgba(99, 117, 153, 0.15);
    --vscode-banner-foreground: #cccac2;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-statusBar-foreground: #707a8c;
    --vscode-statusBar-noFolderForeground: #707a8c;
    --vscode-statusBar-background: #1f2430;
    --vscode-statusBar-noFolderBackground: #1c212b;
    --vscode-statusBar-border: #171b24;
    --vscode-statusBar-focusBorder: #707a8c;
    --vscode-statusBar-noFolderBorder: #171b24;
    --vscode-statusBarItem-activeBackground: rgba(112, 122, 140, 0.2);
    --vscode-statusBarItem-focusBorder: #707a8c;
    --vscode-statusBarItem-hoverBackground: rgba(112, 122, 140, 0.2);
    --vscode-statusBarItem-hoverForeground: #707a8c;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #707a8c;
    --vscode-statusBarItem-prominentBackground: #171b24;
    --vscode-statusBarItem-prominentHoverForeground: #707a8c;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.19);
    --vscode-statusBarItem-errorBackground: #d60000;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverForeground: #707a8c;
    --vscode-statusBarItem-errorHoverBackground: rgba(112, 122, 140, 0.2);
    --vscode-statusBarItem-warningBackground: #d68f00;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverForeground: #707a8c;
    --vscode-statusBarItem-warningHoverBackground: rgba(112, 122, 140, 0.2);
    --vscode-activityBar-background: #242936;
    --vscode-activityBar-foreground: rgba(112, 122, 140, 0.8);
    --vscode-activityBar-inactiveForeground: rgba(112, 122, 140, 0.6);
    --vscode-activityBar-border: #171b24;
    --vscode-activityBar-activeBorder: #ffcc66;
    --vscode-activityBar-dropBorder: rgba(112, 122, 140, 0.8);
    --vscode-activityBarBadge-background: #ffcc66;
    --vscode-activityBarBadge-foreground: #805500;
    --vscode-profileBadge-background: #4d4d4d;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-statusBarItem-remoteBackground: #ffcc66;
    --vscode-statusBarItem-remoteForeground: #805500;
    --vscode-statusBarItem-remoteHoverForeground: #707a8c;
    --vscode-statusBarItem-remoteHoverBackground: rgba(112, 122, 140, 0.2);
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #805500;
    --vscode-statusBarItem-offlineHoverForeground: #707a8c;
    --vscode-statusBarItem-offlineHoverBackground: rgba(112, 122, 140, 0.2);
    --vscode-extensionBadge-remoteBackground: #ffcc66;
    --vscode-extensionBadge-remoteForeground: #805500;
    --vscode-sideBar-background: #1f2430;
    --vscode-sideBar-border: #171b24;
    --vscode-sideBarTitle-foreground: #707a8c;
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBarSectionHeader-background: #1f2430;
    --vscode-sideBarSectionHeader-foreground: #707a8c;
    --vscode-sideBarSectionHeader-border: #171b24;
    --vscode-titleBar-activeForeground: #cccac2;
    --vscode-titleBar-inactiveForeground: #707a8c;
    --vscode-titleBar-activeBackground: #1f2430;
    --vscode-titleBar-inactiveBackground: #1f2430;
    --vscode-titleBar-border: #171b24;
    --vscode-menubar-selectionForeground: #cccac2;
    --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --vscode-notifications-foreground: #707a8c;
    --vscode-notifications-background: #1f2430;
    --vscode-notificationLink-foreground: #ffcc66;
    --vscode-notificationCenterHeader-background: #282f3f;
    --vscode-notifications-border: #282f3f;
    --vscode-notificationsErrorIcon-foreground: #ff6666;
    --vscode-notificationsWarningIcon-foreground: #ffcc66;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-commandCenter-foreground: #cccac2;
    --vscode-commandCenter-activeForeground: #cccac2;
    --vscode-commandCenter-inactiveForeground: #707a8c;
    --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
    --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
    --vscode-commandCenter-border: rgba(204, 202, 194, 0.2);
    --vscode-commandCenter-activeBorder: rgba(204, 202, 194, 0.3);
    --vscode-commandCenter-inactiveBorder: rgba(112, 122, 140, 0.25);
    --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
    --vscode-chat-slashCommandBackground: rgba(255, 204, 102, 0.2);
    --vscode-chat-slashCommandForeground: #ffcc66;
    --vscode-simpleFindWidget-sashBorder: #454545;
    --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
    --vscode-commentsView-unresolvedIcon: rgba(99, 117, 153, 0.15);
    --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: rgba(99, 117, 153, 0.15);
    --vscode-editorCommentsWidget-rangeBackground: rgba(99, 117, 153, 0.01);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(99, 117, 153, 0.01);
    --vscode-editorGutter-commentRangeForeground: #2c3240;
    --vscode-editorOverviewRuler-commentForeground: #2c3240;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #2c3240;
    --vscode-editorGutter-commentGlyphForeground: #cccac2;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #cccac2;
    --vscode-debugToolBar-background: #1c212b;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase\.background: #4b1818;
    --vscode-mergeEditor-changeBase\.word\.background: #6f1313;
    --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
    --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
    --vscode-mergeEditor-conflict\.input1\.background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict\.input2\.background: rgba(64, 166, 255, 0.2);
    --vscode-settings-headerForeground: #cccac2;
    --vscode-settings-settingsHeaderHoverForeground: rgba(204, 202, 194, 0.7);
    --vscode-settings-modifiedItemIndicator: #80bfff;
    --vscode-settings-headerBorder: #171b24;
    --vscode-settings-sashBorder: #171b24;
    --vscode-settings-dropdownBackground: #242936;
    --vscode-settings-dropdownForeground: #707a8c;
    --vscode-settings-dropdownBorder: rgba(112, 122, 140, 0.27);
    --vscode-settings-dropdownListBorder: #171b24;
    --vscode-settings-checkboxBackground: #242936;
    --vscode-settings-checkboxForeground: #707a8c;
    --vscode-settings-checkboxBorder: rgba(112, 122, 140, 0.27);
    --vscode-settings-textInputBackground: #242936;
    --vscode-settings-textInputForeground: #cccac2;
    --vscode-settings-textInputBorder: rgba(112, 122, 140, 0.27);
    --vscode-settings-numberInputBackground: #242936;
    --vscode-settings-numberInputForeground: #cccac2;
    --vscode-settings-numberInputBorder: rgba(112, 122, 140, 0.27);
    --vscode-settings-focusedRowBackground: rgba(99, 117, 153, 0.09);
    --vscode-settings-rowHoverBackground: rgba(99, 117, 153, 0.04);
    --vscode-settings-focusedRowBorder: rgba(255, 204, 102, 0.7);
    --vscode-terminal-background: #1f2430;
    --vscode-terminal-foreground: #cccac2;
    --vscode-terminal-selectionBackground: rgba(64, 159, 255, 0.25);
    --vscode-terminal-inactiveSelectionBackground: rgba(64, 159, 255, 0.13);
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: #171b24;
    --vscode-terminal-findMatchBackground: #695380;
    --vscode-terminal-hoverHighlightBackground: rgba(38, 79, 120, 0.13);
    --vscode-terminal-findMatchHighlightBackground: rgba(105, 83, 128, 0.4);
    --vscode-terminalOverviewRuler-findMatchForeground: #695380;
    --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-terminal-tab\.activeBorder: #242936;
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: #ff6666;
    --vscode-testing-peekHeaderBackground: rgba(255, 102, 102, 0.1);
    --vscode-testing-message\.error\.decorationForeground: #ff6666;
    --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message\.info\.decorationForeground: rgba(204, 202, 194, 0.5);
    --vscode-welcomePage-tileBackground: #1f2430;
    --vscode-welcomePage-tileHoverBackground: #252b3a;
    --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
    --vscode-welcomePage-progress\.background: #1a1f29;
    --vscode-welcomePage-progress\.foreground: #ffcc66;
    --vscode-walkthrough-stepTitle\.foreground: #ffffff;
    --vscode-walkThrough-embeddedEditorBackground: #1c212b;
    --vscode-inlineChat-background: #1f2430;
    --vscode-inlineChat-border: #171b24;
    --vscode-inlineChat-shadow: rgba(18, 21, 28, 0.7);
    --vscode-inlineChat-regionHighlight: rgba(38, 79, 120, 0.25);
    --vscode-inlineChatInput-border: #171b24;
    --vscode-inlineChatInput-focusBorder: rgba(255, 204, 102, 0.7);
    --vscode-inlineChatInput-placeholderForeground: rgba(112, 122, 140, 0.5);
    --vscode-inlineChatInput-background: #242936;
    --vscode-inlineChatDiff-inserted: rgba(135, 217, 108, 0.06);
    --vscode-inlineChatDiff-removed: rgba(242, 121, 131, 0.06);
    --vscode-debugExceptionWidget-border: #171b24;
    --vscode-debugExceptionWidget-background: #1c212b;
    --vscode-ports-iconRunningProcessForeground: #ffcc66;
    --vscode-statusBar-debuggingBackground: #f29e74;
    --vscode-statusBar-debuggingForeground: #242936;
    --vscode-statusBar-debuggingBorder: #171b24;
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editorGutter-modifiedBackground: rgba(128, 191, 255, 0.8);
    --vscode-editorGutter-addedBackground: rgba(135, 217, 108, 0.8);
    --vscode-editorGutter-deletedBackground: rgba(242, 121, 131, 0.8);
    --vscode-minimapGutter-modifiedBackground: #80bfff;
    --vscode-minimapGutter-addedBackground: #87d96c;
    --vscode-minimapGutter-deletedBackground: #f27983;
    --vscode-editorOverviewRuler-modifiedForeground: #80bfff;
    --vscode-editorOverviewRuler-addedForeground: #87d96c;
    --vscode-editorOverviewRuler-deletedForeground: #f27983;
    --vscode-debugIcon-breakpointForeground: #f29e74;
    --vscode-debugIcon-breakpointDisabledForeground: rgba(242, 158, 116, 0.5);
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-notebook-cellBorderColor: rgba(105, 117, 140, 0.12);
    --vscode-notebook-focusedEditorBorder: rgba(255, 204, 102, 0.7);
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
    --vscode-notebookStatusErrorIcon-foreground: #ff6666;
    --vscode-notebookStatusRunningIcon-foreground: #707a8c;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: rgba(105, 117, 140, 0.12);
    --vscode-notebook-selectedCellBorder: rgba(105, 117, 140, 0.12);
    --vscode-notebook-focusedCellBorder: rgba(255, 204, 102, 0.7);
    --vscode-notebook-inactiveFocusedCellBorder: rgba(105, 117, 140, 0.12);
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: rgba(255, 204, 102, 0.7);
    --vscode-notebookScrollbarSlider-background: rgba(112, 122, 140, 0.4);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(112, 122, 140, 0.6);
    --vscode-notebookScrollbarSlider-activeBackground: rgba(112, 122, 140, 0.7);
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebook-cellEditorBackground: #1f2430;
    --vscode-notebook-editorBackground: #242936;
    --vscode-keybindingTable-headerBackground: rgba(112, 122, 140, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(112, 122, 140, 0.04);
    --vscode-searchEditor-textInputBorder: rgba(112, 122, 140, 0.27);
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugView-exceptionLabelForeground: #707a8c;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-stateLabelForeground: #707a8c;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #3794ff;
    --vscode-debugConsole-warningForeground: #ffcc66;
    --vscode-debugConsole-errorForeground: #ff6666;
    --vscode-debugConsole-sourceForeground: #707a8c;
    --vscode-debugConsoleInputIcon-foreground: #ffcc66;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-scm-providerBorder: #454545;
    --vscode-extensionButton-background: #ffcc66;
    --vscode-extensionButton-foreground: #805500;
    --vscode-extensionButton-hoverBackground: #fac761;
    --vscode-extensionButton-separator: rgba(128, 85, 0, 0.4);
    --vscode-extensionButton-prominentBackground: #ffcc66;
    --vscode-extensionButton-prominentForeground: #805500;
    --vscode-extensionButton-prominentHoverBackground: #fac761;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #ffcc66;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #d758b3;
    --vscode-terminal-ansiBlack: #171b24;
    --vscode-terminal-ansiRed: #ed8274;
    --vscode-terminal-ansiGreen: #87d96c;
    --vscode-terminal-ansiYellow: #facc6e;
    --vscode-terminal-ansiBlue: #6dcbfa;
    --vscode-terminal-ansiMagenta: #dabafa;
    --vscode-terminal-ansiCyan: #90e1c6;
    --vscode-terminal-ansiWhite: #c7c7c7;
    --vscode-terminal-ansiBrightBlack: #686868;
    --vscode-terminal-ansiBrightRed: #f28779;
    --vscode-terminal-ansiBrightGreen: #d5ff80;
    --vscode-terminal-ansiBrightYellow: #ffd173;
    --vscode-terminal-ansiBrightBlue: #73d0ff;
    --vscode-terminal-ansiBrightMagenta: #dfbfff;
    --vscode-terminal-ansiBrightCyan: #95e6cb;
    --vscode-terminal-ansiBrightWhite: #ffffff;
    --vscode-interactive-activeCodeBorder: rgba(99, 117, 153, 0.15);
    --vscode-interactive-inactiveCodeBorder: rgba(105, 117, 140, 0.12);
    --vscode-gitDecoration-addedResourceForeground: #81b88b;
    --vscode-gitDecoration-modifiedResourceForeground: rgba(128, 191, 255, 0.7);
    --vscode-gitDecoration-deletedResourceForeground: rgba(242, 121, 131, 0.7);
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-untrackedResourceForeground: rgba(135, 217, 108, 0.7);
    --vscode-gitDecoration-ignoredResourceForeground: rgba(112, 122, 140, 0.5);
    --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
    --vscode-gitDecoration-conflictingResourceForeground: #ff0000;
    --vscode-gitDecoration-submoduleResourceForeground: rgba(223, 191, 255, 0.7);
}
