html[theme='dark-abyss']:root {
    --vscode-foreground: #cccccc;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-errorForeground: #f48771;
    --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
    --vscode-icon-foreground: #c5c5c5;
    --vscode-focusBorder: #596f99;
    --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --vscode-textLink-foreground: #3794ff;
    --vscode-textLink-activeForeground: #3794ff;
    --vscode-textPreformat-foreground: #d7ba7d;
    --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-input-background: #181f2f;
    --vscode-input-foreground: #cccccc;
    --vscode-inputOption-activeBorder: #1d4a87;
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: rgba(89, 111, 153, 0.4);
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-input-placeholderForeground: rgba(204, 204, 204, 0.5);
    --vscode-inputValidation-infoBackground: #051336;
    --vscode-inputValidation-infoBorder: #384078;
    --vscode-inputValidation-warningBackground: #5b7e7a;
    --vscode-inputValidation-warningBorder: #5b7e7a;
    --vscode-inputValidation-errorBackground: #a22d44;
    --vscode-inputValidation-errorBorder: #ab395b;
    --vscode-dropdown-background: #181f2f;
    --vscode-dropdown-foreground: #f0f0f0;
    --vscode-dropdown-border: #181f2f;
    --vscode-button-foreground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-button-background: #2b3c5d;
    --vscode-button-hoverBackground: #344870;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryBackground: #3a3d41;
    --vscode-button-secondaryHoverBackground: #45494e;
    --vscode-badge-background: #0063a5;
    --vscode-badge-foreground: #ffffff;
    --vscode-scrollbar-shadow: rgba(81, 94, 145, 0.67);
    --vscode-scrollbarSlider-background: rgba(31, 34, 48, 0.67);
    --vscode-scrollbarSlider-hoverBackground: rgba(59, 63, 81, 0.53);
    --vscode-scrollbarSlider-activeBackground: rgba(59, 63, 81, 0.53);
    --vscode-progressBar-background: #0063a5;
    --vscode-editorError-foreground: #f14c4c;
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-sash-hoverBorder: #596f99;
    --vscode-editor-background: #000c18;
    --vscode-editor-foreground: #6688cc;
    --vscode-editorStickyScroll-background: #000c18;
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorWidget-background: #262641;
    --vscode-editorWidget-foreground: #cccccc;
    --vscode-editorWidget-border: #454545;
    --vscode-quickInput-background: #262641;
    --vscode-quickInput-foreground: #cccccc;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-pickerGroup-foreground: #596f99;
    --vscode-pickerGroup-border: #596f99;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-editor-selectionBackground: #770811;
    --vscode-editor-inactiveSelectionBackground: rgba(119, 8, 17, 0.5);
    --vscode-editor-selectionHighlightBackground: rgba(86, 6, 12, 0.6);
    --vscode-editor-findMatchBackground: #515c6a;
    --vscode-editor-findMatchHighlightBackground: rgba(238, 238, 238, 0.27);
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-searchEditor-findMatchBackground: rgba(238, 238, 238, 0.18);
    --vscode-search-resultsInfoForeground: rgba(204, 204, 204, 0.65);
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editorHoverWidget-background: #000c38;
    --vscode-editorHoverWidget-foreground: #cccccc;
    --vscode-editorHoverWidget-border: #004c18;
    --vscode-editorHoverWidget-statusBarBackground: #000f43;
    --vscode-editorLink-activeForeground: #0063a5;
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-background: rgba(0, 99, 165, 0.1);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(0, 99, 165, 0.1);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(0, 99, 165, 0.1);
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-diffEditor-insertedTextBackground: rgba(49, 149, 138, 0.33);
    --vscode-diffEditor-removedTextBackground: rgba(137, 47, 70, 0.53);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-diffEditor-unchangedRegionBackground: #3e3e3e;
    --vscode-diffEditor-unchangedRegionForeground: #a3a2a2;
    --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
    --vscode-list-focusOutline: #596f99;
    --vscode-list-activeSelectionBackground: #08286b;
    --vscode-list-activeSelectionForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: #152037;
    --vscode-list-hoverBackground: #061940;
    --vscode-list-dropBackground: #041d52;
    --vscode-list-highlightForeground: #0063a5;
    --vscode-list-focusHighlightForeground: #0063a5;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #262641;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-list-filterMatchBackground: rgba(238, 238, 238, 0.27);
    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-checkbox-background: #181f2f;
    --vscode-checkbox-selectBackground: #262641;
    --vscode-checkbox-foreground: #f0f0f0;
    --vscode-checkbox-border: #181f2f;
    --vscode-checkbox-selectBorder: #c5c5c5;
    --vscode-quickInputList-focusForeground: #ffffff;
    --vscode-quickInputList-focusBackground: #08286b;
    --vscode-menu-foreground: #f0f0f0;
    --vscode-menu-background: #181f2f;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-selectionBackground: #08286b;
    --vscode-menu-separatorBackground: #606060;
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
    --vscode-breadcrumb-background: #000c18;
    --vscode-breadcrumb-focusForeground: #e0e0e0;
    --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
    --vscode-breadcrumbPicker-background: #262641;
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-selectionHighlight: #750000;
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-warningHighlight: #cca700;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(31, 34, 48, 0.33);
    --vscode-minimapSlider-hoverBackground: rgba(59, 63, 81, 0.27);
    --vscode-minimapSlider-activeBackground: rgba(59, 63, 81, 0.27);
    --vscode-problemsErrorIcon-foreground: #f14c4c;
    --vscode-problemsWarningIcon-foreground: #cca700;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-charts-foreground: #cccccc;
    --vscode-charts-lines: rgba(204, 204, 204, 0.5);
    --vscode-charts-red: #f14c4c;
    --vscode-charts-blue: #3794ff;
    --vscode-charts-yellow: #cca700;
    --vscode-charts-orange: #d18616;
    --vscode-charts-green: #89d185;
    --vscode-charts-purple: #b180d7;
    --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive\.border: #ffa500;
    --vscode-symbolIcon-arrayForeground: #cccccc;
    --vscode-symbolIcon-booleanForeground: #cccccc;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #cccccc;
    --vscode-symbolIcon-constantForeground: #cccccc;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #cccccc;
    --vscode-symbolIcon-folderForeground: #cccccc;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #cccccc;
    --vscode-symbolIcon-keywordForeground: #cccccc;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #cccccc;
    --vscode-symbolIcon-namespaceForeground: #cccccc;
    --vscode-symbolIcon-nullForeground: #cccccc;
    --vscode-symbolIcon-numberForeground: #cccccc;
    --vscode-symbolIcon-objectForeground: #cccccc;
    --vscode-symbolIcon-operatorForeground: #cccccc;
    --vscode-symbolIcon-packageForeground: #cccccc;
    --vscode-symbolIcon-propertyForeground: #cccccc;
    --vscode-symbolIcon-referenceForeground: #cccccc;
    --vscode-symbolIcon-snippetForeground: #cccccc;
    --vscode-symbolIcon-stringForeground: #cccccc;
    --vscode-symbolIcon-structForeground: #cccccc;
    --vscode-symbolIcon-textForeground: #cccccc;
    --vscode-symbolIcon-typeParameterForeground: #cccccc;
    --vscode-symbolIcon-unitForeground: #cccccc;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-actionBar-toggledBackground: rgba(89, 111, 153, 0.4);
    --vscode-editorHoverWidget-highlightForeground: #0063a5;
    --vscode-editor-lineHighlightBackground: #082050;
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-symbolHighlightBackground: rgba(238, 238, 238, 0.27);
    --vscode-editorCursor-foreground: #ddbb88;
    --vscode-editorWhitespace-foreground: #103050;
    --vscode-editorLineNumber-foreground: #406385;
    --vscode-editorIndentGuide-background: #002952;
    --vscode-editorIndentGuide-activeBackground: #204972;
    --vscode-editorIndentGuide-background1: #002952;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground1: #204972;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorLineNumber-activeForeground: #80a2c2;
    --vscode-editorRuler-foreground: #5a5a5a;
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --vscode-editorBracketMatch-border: #888888;
    --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --vscode-editorGutter-background: #000c18;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-warningForeground: #cca700;
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #bd9b03;
    --vscode-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editor-foldBackground: rgba(119, 8, 17, 0.3);
    --vscode-editorGutter-foldingControlForeground: #c5c5c5;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --vscode-editor-wordHighlightTextBackground: rgba(87, 87, 87, 0.72);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-peekViewTitle-background: #10192c;
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --vscode-peekView-border: #2b2b4a;
    --vscode-peekViewResult-background: #060621;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewEditor-background: #10192c;
    --vscode-peekViewEditorGutter-background: #10192c;
    --vscode-peekViewEditorStickyScroll-background: #10192c;
    --vscode-peekViewResult-matchHighlightBackground: rgba(238, 238, 238, 0.27);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(238, 238, 238, 0.2);
    --vscode-editorMarkerNavigationError-background: #ab395b;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(171, 57, 91, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #5b7e7a;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(91, 126, 122, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigation-background: #060621;
    --vscode-editorSuggestWidget-background: #262641;
    --vscode-editorSuggestWidget-border: #454545;
    --vscode-editorSuggestWidget-foreground: #6688cc;
    --vscode-editorSuggestWidget-selectedForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedBackground: #08286b;
    --vscode-editorSuggestWidget-highlightForeground: #0063a5;
    --vscode-editorSuggestWidget-focusHighlightForeground: #0063a5;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(102, 136, 204, 0.5);
    --vscode-tab-activeBackground: #000c18;
    --vscode-tab-unfocusedActiveBackground: #000c18;
    --vscode-tab-inactiveBackground: #10192c;
    --vscode-tab-unfocusedInactiveBackground: #10192c;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-inactiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-unfocusedInactiveForeground: rgba(255, 255, 255, 0.25);
    --vscode-tab-border: #2b2b4a;
    --vscode-tab-lastPinnedBorder: #2b3c5d;
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-editorPane-background: #000c18;
    --vscode-editorGroupHeader-tabsBackground: #1c1c2a;
    --vscode-editorGroupHeader-noTabsBackground: #000c18;
    --vscode-editorGroup-border: #2b2b4a;
    --vscode-editorGroup-dropBackground: rgba(37, 55, 93, 0.67);
    --vscode-editorGroup-dropIntoPromptForeground: #cccccc;
    --vscode-editorGroup-dropIntoPromptBackground: #262641;
    --vscode-sideBySideEditor-horizontalBorder: #2b2b4a;
    --vscode-sideBySideEditor-verticalBorder: #2b2b4a;
    --vscode-panel-background: #000c18;
    --vscode-panel-border: #2b2b4a;
    --vscode-panelTitle-activeForeground: #e7e7e7;
    --vscode-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-panelTitle-activeBorder: #e7e7e7;
    --vscode-panel-dropBorder: #e7e7e7;
    --vscode-panelSection-dropBackground: rgba(37, 55, 93, 0.67);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: #2b2b4a;
    --vscode-banner-background: #08286b;
    --vscode-banner-foreground: #ffffff;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-statusBar-foreground: #ffffff;
    --vscode-statusBar-noFolderForeground: #ffffff;
    --vscode-statusBar-background: #10192c;
    --vscode-statusBar-noFolderBackground: #10192c;
    --vscode-statusBar-focusBorder: #ffffff;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-focusBorder: #ffffff;
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-hoverForeground: #ffffff;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #ffffff;
    --vscode-statusBarItem-prominentBackground: #0063a5;
    --vscode-statusBarItem-prominentHoverForeground: #ffffff;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 99, 165, 0.87);
    --vscode-statusBarItem-errorBackground: #c72e0f;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverForeground: #ffffff;
    --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-warningBackground: #7a6400;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverForeground: #ffffff;
    --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-activityBar-background: #051336;
    --vscode-activityBar-foreground: #ffffff;
    --vscode-activityBar-inactiveForeground: rgba(255, 255, 255, 0.4);
    --vscode-activityBar-activeBorder: #ffffff;
    --vscode-activityBar-dropBorder: #ffffff;
    --vscode-activityBarBadge-background: #007acc;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-profileBadge-background: #4d4d4d;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-statusBarItem-remoteBackground: #0063a5;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-extensionBadge-remoteBackground: #007acc;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-sideBar-background: #060621;
    --vscode-sideBar-dropBackground: rgba(37, 55, 93, 0.67);
    --vscode-sideBarSectionHeader-background: #10192c;
    --vscode-titleBar-activeForeground: #cccccc;
    --vscode-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
    --vscode-titleBar-activeBackground: #10192c;
    --vscode-titleBar-inactiveBackground: rgba(16, 25, 44, 0.6);
    --vscode-menubar-selectionForeground: #cccccc;
    --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --vscode-notifications-foreground: #cccccc;
    --vscode-notifications-background: #262641;
    --vscode-notificationLink-foreground: #3794ff;
    --vscode-notificationCenterHeader-background: #313155;
    --vscode-notifications-border: #313155;
    --vscode-notificationsErrorIcon-foreground: #f14c4c;
    --vscode-notificationsWarningIcon-foreground: #cca700;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-commandCenter-foreground: #cccccc;
    --vscode-commandCenter-activeForeground: #cccccc;
    --vscode-commandCenter-inactiveForeground: rgba(204, 204, 204, 0.6);
    --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
    --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
    --vscode-commandCenter-border: rgba(204, 204, 204, 0.2);
    --vscode-commandCenter-activeBorder: rgba(204, 204, 204, 0.3);
    --vscode-commandCenter-inactiveBorder: rgba(204, 204, 204, 0.15);
    --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
    --vscode-chat-slashCommandBackground: #0063a5;
    --vscode-chat-slashCommandForeground: #ffffff;
    --vscode-simpleFindWidget-sashBorder: #454545;
    --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
    --vscode-commentsView-unresolvedIcon: #596f99;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #596f99;
    --vscode-editorCommentsWidget-rangeBackground: rgba(89, 111, 153, 0.1);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(89, 111, 153, 0.1);
    --vscode-editorGutter-commentRangeForeground: #152037;
    --vscode-editorOverviewRuler-commentForeground: #152037;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #152037;
    --vscode-editorGutter-commentGlyphForeground: #6688cc;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #6688cc;
    --vscode-debugToolBar-background: #051336;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase\.background: #4b1818;
    --vscode-mergeEditor-changeBase\.word\.background: #6f1313;
    --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
    --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
    --vscode-mergeEditor-conflict\.input1\.background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict\.input2\.background: rgba(64, 166, 255, 0.2);
    --vscode-settings-headerForeground: #e7e7e7;
    --vscode-settings-settingsHeaderHoverForeground: rgba(231, 231, 231, 0.7);
    --vscode-settings-modifiedItemIndicator: #0c7d9d;
    --vscode-settings-headerBorder: #2b2b4a;
    --vscode-settings-sashBorder: #2b2b4a;
    --vscode-settings-dropdownBackground: #181f2f;
    --vscode-settings-dropdownForeground: #f0f0f0;
    --vscode-settings-dropdownBorder: #181f2f;
    --vscode-settings-dropdownListBorder: #454545;
    --vscode-settings-checkboxBackground: #181f2f;
    --vscode-settings-checkboxForeground: #f0f0f0;
    --vscode-settings-checkboxBorder: #181f2f;
    --vscode-settings-textInputBackground: #181f2f;
    --vscode-settings-textInputForeground: #cccccc;
    --vscode-settings-numberInputBackground: #181f2f;
    --vscode-settings-numberInputForeground: #cccccc;
    --vscode-settings-focusedRowBackground: rgba(6, 25, 64, 0.6);
    --vscode-settings-rowHoverBackground: rgba(6, 25, 64, 0.3);
    --vscode-settings-focusedRowBorder: #596f99;
    --vscode-terminal-foreground: #cccccc;
    --vscode-terminal-selectionBackground: #770811;
    --vscode-terminal-inactiveSelectionBackground: rgba(119, 8, 17, 0.5);
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: #2b2b4a;
    --vscode-terminal-findMatchBackground: #515c6a;
    --vscode-terminal-hoverHighlightBackground: rgba(38, 79, 120, 0.13);
    --vscode-terminal-findMatchHighlightBackground: rgba(238, 238, 238, 0.27);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminal-dropBackground: rgba(37, 55, 93, 0.67);
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: #f14c4c;
    --vscode-testing-peekHeaderBackground: rgba(241, 76, 76, 0.1);
    --vscode-testing-message\.error\.decorationForeground: #f14c4c;
    --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message\.info\.decorationForeground: rgba(102, 136, 204, 0.5);
    --vscode-welcomePage-tileBackground: #262641;
    --vscode-welcomePage-tileHoverBackground: #2e2e4e;
    --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
    --vscode-welcomePage-progress\.background: #181f2f;
    --vscode-welcomePage-progress\.foreground: #3794ff;
    --vscode-walkthrough-stepTitle\.foreground: #ffffff;
    --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
    --vscode-inlineChat-background: #262641;
    --vscode-inlineChat-border: #454545;
    --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
    --vscode-inlineChat-regionHighlight: rgba(38, 79, 120, 0.25);
    --vscode-inlineChatInput-border: #454545;
    --vscode-inlineChatInput-focusBorder: #596f99;
    --vscode-inlineChatInput-placeholderForeground: rgba(204, 204, 204, 0.5);
    --vscode-inlineChatInput-background: #181f2f;
    --vscode-inlineChatDiff-inserted: rgba(49, 149, 138, 0.17);
    --vscode-inlineChatDiff-removed: rgba(137, 47, 70, 0.27);
    --vscode-debugExceptionWidget-border: #ab395b;
    --vscode-debugExceptionWidget-background: #051336;
    --vscode-ports-iconRunningProcessForeground: #80a2c2;
    --vscode-statusBar-debuggingBackground: #10192c;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editorGutter-modifiedBackground: #1b81a8;
    --vscode-editorGutter-addedBackground: #487e02;
    --vscode-editorGutter-deletedBackground: #f14c4c;
    --vscode-minimapGutter-modifiedBackground: #1b81a8;
    --vscode-minimapGutter-addedBackground: #487e02;
    --vscode-minimapGutter-deletedBackground: #f14c4c;
    --vscode-editorOverviewRuler-modifiedForeground: rgba(27, 129, 168, 0.6);
    --vscode-editorOverviewRuler-addedForeground: rgba(72, 126, 2, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(241, 76, 76, 0.6);
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-notebook-cellBorderColor: #152037;
    --vscode-notebook-focusedEditorBorder: #596f99;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
    --vscode-notebookStatusErrorIcon-foreground: #f48771;
    --vscode-notebookStatusRunningIcon-foreground: #cccccc;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #152037;
    --vscode-notebook-selectedCellBorder: #152037;
    --vscode-notebook-focusedCellBorder: #596f99;
    --vscode-notebook-inactiveFocusedCellBorder: #152037;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: #596f99;
    --vscode-notebookScrollbarSlider-background: rgba(31, 34, 48, 0.67);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(59, 63, 81, 0.53);
    --vscode-notebookScrollbarSlider-activeBackground: rgba(59, 63, 81, 0.53);
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebook-cellEditorBackground: #060621;
    --vscode-notebook-editorBackground: #000c18;
    --vscode-keybindingTable-headerBackground: rgba(204, 204, 204, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugView-exceptionLabelForeground: #cccccc;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-stateLabelForeground: #cccccc;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #3794ff;
    --vscode-debugConsole-warningForeground: #cca700;
    --vscode-debugConsole-errorForeground: #f48771;
    --vscode-debugConsole-sourceForeground: #cccccc;
    --vscode-debugConsoleInputIcon-foreground: #cccccc;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-scm-providerBorder: #454545;
    --vscode-extensionButton-background: #2b3c5d;
    --vscode-extensionButton-foreground: #ffffff;
    --vscode-extensionButton-hoverBackground: #344870;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionButton-prominentBackground: #5f8b3b;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: rgba(95, 139, 59, 0.73);
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #3794ff;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #d758b3;
    --vscode-terminal-ansiBlack: #111111;
    --vscode-terminal-ansiRed: #ff9da4;
    --vscode-terminal-ansiGreen: #d1f1a9;
    --vscode-terminal-ansiYellow: #ffeead;
    --vscode-terminal-ansiBlue: #bbdaff;
    --vscode-terminal-ansiMagenta: #ebbbff;
    --vscode-terminal-ansiCyan: #99ffff;
    --vscode-terminal-ansiWhite: #cccccc;
    --vscode-terminal-ansiBrightBlack: #333333;
    --vscode-terminal-ansiBrightRed: #ff7882;
    --vscode-terminal-ansiBrightGreen: #b8f171;
    --vscode-terminal-ansiBrightYellow: #ffe580;
    --vscode-terminal-ansiBrightBlue: #80baff;
    --vscode-terminal-ansiBrightMagenta: #d778ff;
    --vscode-terminal-ansiBrightCyan: #78ffff;
    --vscode-terminal-ansiBrightWhite: #ffffff;
    --vscode-interactive-activeCodeBorder: #2b2b4a;
    --vscode-interactive-inactiveCodeBorder: #152037;
    --vscode-gitDecoration-addedResourceForeground: #81b88b;
    --vscode-gitDecoration-modifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-deletedResourceForeground: #c74e39;
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-untrackedResourceForeground: #73c991;
    --vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
    --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
    --vscode-gitDecoration-conflictingResourceForeground: #e4676b;
    --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
}
