html[theme='light-orange']:root {
    --vscode-foreground: #434343;
    --vscode-disabledForeground: rgba(97, 97, 97, 0.5);
    --vscode-errorForeground: #ff0000;
    --vscode-descriptionForeground: #2e2e2e;
    --vscode-icon-foreground: #424242;
    --vscode-focusBorder: #ffffff;
    --vscode-selection-background: rgba(255, 102, 0, 0.28);
    --vscode-textSeparator-foreground: rgba(0, 0, 0, 0.18);
    --vscode-textLink-foreground: #006ab1;
    --vscode-textLink-activeForeground: #006ab1;
    --vscode-textPreformat-foreground: #a31515;
    --vscode-textBlockQuote-background: rgba(255, 0, 0, 0);
    --vscode-textBlockQuote-border: rgba(255, 0, 0, 0);
    --vscode-textCodeBlock-background: rgba(255, 0, 0, 0);
    --vscode-widget-shadow: #dddddd;
    --vscode-input-background: #ffffff;
    --vscode-input-foreground: #222222;
    --vscode-input-border: #bfbfbf;
    --vscode-inputOption-activeBorder: #007acc;
    --vscode-inputOption-hoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-inputOption-activeBackground: #e7e7e7;
    --vscode-inputOption-activeForeground: #000000;
    --vscode-input-placeholderForeground: rgba(67, 67, 67, 0.5);
    --vscode-inputValidation-infoBackground: #d6ecf2;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #f6f5d2;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-inputValidation-errorBackground: #f2dede;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-dropdown-background: #ffffff;
    --vscode-dropdown-listBackground: #ffffff;
    --vscode-dropdown-foreground: #222222;
    --vscode-dropdown-border: #bfbfbf;
    --vscode-button-foreground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-button-background: #ff6600;
    --vscode-button-hoverBackground: #ff6600;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryBackground: #5f6a79;
    --vscode-button-secondaryHoverBackground: #4c5561;
    --vscode-badge-background: #ff6600;
    --vscode-badge-foreground: #ffffff;
    --vscode-scrollbar-shadow: #dddddd;
    --vscode-scrollbarSlider-background: rgba(100, 100, 100, 0.4);
    --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-scrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
    --vscode-progressBar-background: #0e70c0;
    --vscode-editorError-foreground: #e51400;
    --vscode-editorWarning-foreground: #bf8803;
    --vscode-editorInfo-foreground: #1a85ff;
    --vscode-editorHint-foreground: #6c6c6c;
    --vscode-sash-hoverBorder: #ffffff;
    --vscode-editor-background: #ffffff;
    --vscode-editor-foreground: #000000;
    --vscode-editorStickyScroll-background: #ffffff;
    --vscode-editorStickyScrollHover-background: #f0f0f0;
    --vscode-editorWidget-background: #f2f2f2;
    --vscode-editorWidget-foreground: #434343;
    --vscode-editorWidget-border: #c8c8c8;
    --vscode-quickInput-background: #f2f2f2;
    --vscode-quickInput-foreground: #434343;
    --vscode-quickInputTitle-background: rgba(0, 0, 0, 0.06);
    --vscode-pickerGroup-foreground: #0066bf;
    --vscode-pickerGroup-border: #cccedb;
    --vscode-keybindingLabel-background: rgba(221, 221, 221, 0.4);
    --vscode-keybindingLabel-foreground: #555555;
    --vscode-keybindingLabel-border: rgba(204, 204, 204, 0.4);
    --vscode-keybindingLabel-bottomBorder: rgba(187, 187, 187, 0.4);
    --vscode-editor-selectionBackground: rgba(255, 102, 0, 0.27);
    --vscode-editor-inactiveSelectionBackground: rgba(255, 102, 0, 0.13);
    --vscode-editor-selectionHighlightBackground: rgba(255, 134, 53, 0.16);
    --vscode-editor-findMatchBackground: #a8ac94;
    --vscode-editor-findMatchHighlightBackground: rgba(255, 102, 0, 0.27);
    --vscode-editor-findRangeHighlightBackground: rgba(180, 180, 180, 0.3);
    --vscode-searchEditor-findMatchBackground: rgba(255, 102, 0, 0.18);
    --vscode-search-resultsInfoForeground: #434343;
    --vscode-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
    --vscode-editorHoverWidget-background: #f2f2f2;
    --vscode-editorHoverWidget-foreground: #434343;
    --vscode-editorHoverWidget-border: #c8c8c8;
    --vscode-editorHoverWidget-statusBarBackground: #e6e6e6;
    --vscode-editorLink-activeForeground: #0000ff;
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-background: rgba(255, 102, 0, 0.1);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(255, 102, 0, 0.1);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(255, 102, 0, 0.1);
    --vscode-editorLightBulb-foreground: #ddb100;
    --vscode-editorLightBulbAutoFix-foreground: #007acc;
    --vscode-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.25);
    --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-diagonalFill: rgba(34, 34, 34, 0.2);
    --vscode-diffEditor-unchangedRegionBackground: #e4e4e4;
    --vscode-diffEditor-unchangedRegionForeground: #4d4c4c;
    --vscode-diffEditor-unchangedCodeBackground: rgba(184, 184, 184, 0.16);
    --vscode-list-focusBackground: rgba(222, 220, 222, 0.67);
    --vscode-list-focusForeground: #000000;
    --vscode-list-focusOutline: #ffffff;
    --vscode-list-activeSelectionBackground: #cedeef;
    --vscode-list-activeSelectionForeground: #ff6600;
    --vscode-list-activeSelectionIconForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: #dbdbdb;
    --vscode-list-inactiveSelectionForeground: #ff6600;
    --vscode-list-inactiveFocusBackground: #dbdbdb;
    --vscode-list-hoverBackground: #f0f0f0;
    --vscode-list-hoverForeground: #ff6600;
    --vscode-list-dropBackground: #dedcde;
    --vscode-list-highlightForeground: #2e2e2e;
    --vscode-list-focusHighlightForeground: #2e2e2e;
    --vscode-list-invalidItemForeground: #2e2e2e;
    --vscode-list-errorForeground: #2e2e2e;
    --vscode-list-warningForeground: #2e2e2e;
    --vscode-listFilterWidget-background: #f2f2f2;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-shadow: #dddddd;
    --vscode-list-filterMatchBackground: rgba(255, 102, 0, 0.27);
    --vscode-tree-indentGuidesStroke: #a9a9a9;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(169, 169, 169, 0.4);
    --vscode-tree-tableColumnsBorder: rgba(97, 97, 97, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(67, 67, 67, 0.04);
    --vscode-list-deemphasizedForeground: #8e8e90;
    --vscode-checkbox-background: #ffffff;
    --vscode-checkbox-selectBackground: #f2f2f2;
    --vscode-checkbox-foreground: #222222;
    --vscode-checkbox-border: #bfbfbf;
    --vscode-checkbox-selectBorder: #424242;
    --vscode-quickInputList-focusForeground: #ff6600;
    --vscode-quickInputList-focusIconForeground: #ffffff;
    --vscode-quickInputList-focusBackground: #cedeef;
    --vscode-menu-foreground: #222222;
    --vscode-menu-background: #ffffff;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-selectionBackground: #ff6600;
    --vscode-menu-separatorBackground: #d4d4d4;
    --vscode-toolbar-hoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-toolbar-activeBackground: rgba(166, 166, 166, 0.31);
    --vscode-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
    --vscode-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
    --vscode-breadcrumb-foreground: rgba(67, 67, 67, 0.8);
    --vscode-breadcrumb-background: #ffffff;
    --vscode-breadcrumb-focusForeground: #363636;
    --vscode-breadcrumb-activeSelectionForeground: #363636;
    --vscode-breadcrumbPicker-background: #f2f2f2;
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-selectionOccurrenceHighlight: #c9c9c9;
    --vscode-minimap-selectionHighlight: #add6ff;
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-warningHighlight: #bf8803;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(100, 100, 100, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
    --vscode-minimapSlider-activeBackground: rgba(0, 0, 0, 0.3);
    --vscode-problemsErrorIcon-foreground: #e51400;
    --vscode-problemsWarningIcon-foreground: #bf8803;
    --vscode-problemsInfoIcon-foreground: #1a85ff;
    --vscode-charts-foreground: #434343;
    --vscode-charts-lines: rgba(67, 67, 67, 0.5);
    --vscode-charts-red: #e51400;
    --vscode-charts-blue: #1a85ff;
    --vscode-charts-yellow: #bf8803;
    --vscode-charts-orange: #d18616;
    --vscode-charts-green: #388a34;
    --vscode-charts-purple: #652d90;
    --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive\.border: #ffa500;
    --vscode-symbolIcon-arrayForeground: #434343;
    --vscode-symbolIcon-booleanForeground: #434343;
    --vscode-symbolIcon-classForeground: #d67e00;
    --vscode-symbolIcon-colorForeground: #434343;
    --vscode-symbolIcon-constantForeground: #434343;
    --vscode-symbolIcon-constructorForeground: #652d90;
    --vscode-symbolIcon-enumeratorForeground: #d67e00;
    --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
    --vscode-symbolIcon-eventForeground: #d67e00;
    --vscode-symbolIcon-fieldForeground: #007acc;
    --vscode-symbolIcon-fileForeground: #434343;
    --vscode-symbolIcon-folderForeground: #434343;
    --vscode-symbolIcon-functionForeground: #652d90;
    --vscode-symbolIcon-interfaceForeground: #007acc;
    --vscode-symbolIcon-keyForeground: #434343;
    --vscode-symbolIcon-keywordForeground: #434343;
    --vscode-symbolIcon-methodForeground: #652d90;
    --vscode-symbolIcon-moduleForeground: #434343;
    --vscode-symbolIcon-namespaceForeground: #434343;
    --vscode-symbolIcon-nullForeground: #434343;
    --vscode-symbolIcon-numberForeground: #434343;
    --vscode-symbolIcon-objectForeground: #434343;
    --vscode-symbolIcon-operatorForeground: #434343;
    --vscode-symbolIcon-packageForeground: #434343;
    --vscode-symbolIcon-propertyForeground: #434343;
    --vscode-symbolIcon-referenceForeground: #434343;
    --vscode-symbolIcon-snippetForeground: #434343;
    --vscode-symbolIcon-stringForeground: #434343;
    --vscode-symbolIcon-structForeground: #434343;
    --vscode-symbolIcon-textForeground: #434343;
    --vscode-symbolIcon-typeParameterForeground: #434343;
    --vscode-symbolIcon-unitForeground: #434343;
    --vscode-symbolIcon-variableForeground: #007acc;
    --vscode-actionBar-toggledBackground: #e7e7e7;
    --vscode-editorHoverWidget-highlightForeground: #2e2e2e;
    --vscode-editor-lineHighlightBackground: #f1f1f1;
    --vscode-editor-lineHighlightBorder: #eeeeee;
    --vscode-editor-rangeHighlightBackground: rgba(253, 255, 0, 0.2);
    --vscode-editor-symbolHighlightBackground: rgba(255, 102, 0, 0.27);
    --vscode-editorCursor-foreground: #000000;
    --vscode-editorWhitespace-foreground: #ececec;
    --vscode-editorLineNumber-foreground: #a8a8a8;
    --vscode-editorIndentGuide-background: #e5e5e5;
    --vscode-editorIndentGuide-activeBackground: #d7d8d7;
    --vscode-editorIndentGuide-background1: #e5e5e5;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground1: #d7d8d7;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorActiveLineNumber-foreground: #0b216f;
    --vscode-editorLineNumber-activeForeground: #585858;
    --vscode-editorRuler-foreground: #d3d3d3;
    --vscode-editorCodeLens-foreground: #919191;
    --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --vscode-editorBracketMatch-border: #b9b9b9;
    --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --vscode-editorGutter-background: #ffffff;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
    --vscode-editorGhostText-foreground: rgba(0, 0, 0, 0.47);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-warningForeground: #bf8803;
    --vscode-editorOverviewRuler-infoForeground: #1a85ff;
    --vscode-editorBracketHighlight-foreground1: #0431fa;
    --vscode-editorBracketHighlight-foreground2: #319331;
    --vscode-editorBracketHighlight-foreground3: #7b3814;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #cea33d;
    --vscode-editorUnicodeHighlight-background: rgba(206, 163, 61, 0.08);
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editor-foldBackground: rgba(255, 102, 0, 0.08);
    --vscode-editorGutter-foldingControlForeground: #424242;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.25);
    --vscode-editor-wordHighlightStrongBackground: rgba(14, 99, 156, 0.25);
    --vscode-editor-wordHighlightTextBackground: rgba(87, 87, 87, 0.25);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-peekViewTitle-background: #f3f3f3;
    --vscode-peekViewTitleLabel-foreground: #000000;
    --vscode-peekViewTitleDescription-foreground: #616161;
    --vscode-peekView-border: #1a85ff;
    --vscode-peekViewResult-background: #f3f3f3;
    --vscode-peekViewResult-lineForeground: #646465;
    --vscode-peekViewResult-fileForeground: #1e1e1e;
    --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --vscode-peekViewResult-selectionForeground: #6c6c6c;
    --vscode-peekViewEditor-background: #f2f8fc;
    --vscode-peekViewEditorGutter-background: #f2f8fc;
    --vscode-peekViewEditorStickyScroll-background: #f2f8fc;
    --vscode-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(245, 216, 2, 0.87);
    --vscode-editorMarkerNavigationError-background: #e51400;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(229, 20, 0, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #bf8803;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(191, 136, 3, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #1a85ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(26, 133, 255, 0.1);
    --vscode-editorMarkerNavigation-background: #ffffff;
    --vscode-editorSuggestWidget-background: #f2f2f2;
    --vscode-editorSuggestWidget-border: #c8c8c8;
    --vscode-editorSuggestWidget-foreground: #000000;
    --vscode-editorSuggestWidget-selectedForeground: #ff6600;
    --vscode-editorSuggestWidget-selectedIconForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedBackground: #cedeef;
    --vscode-editorSuggestWidget-highlightForeground: #2e2e2e;
    --vscode-editorSuggestWidget-focusHighlightForeground: #2e2e2e;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(0, 0, 0, 0.5);
    --vscode-tab-activeBackground: #ffffff;
    --vscode-tab-unfocusedActiveBackground: #f7f7f6;
    --vscode-tab-inactiveBackground: #ffffff;
    --vscode-tab-unfocusedInactiveBackground: #e9e9e8;
    --vscode-tab-activeForeground: #434343;
    --vscode-tab-inactiveForeground: #686969;
    --vscode-tab-unfocusedActiveForeground: #434343;
    --vscode-tab-unfocusedInactiveForeground: #686969;
    --vscode-tab-border: #dad9d9;
    --vscode-tab-lastPinnedBorder: #a9a9a9;
    --vscode-tab-activeBorder: #e1e2e2;
    --vscode-tab-unfocusedActiveBorder: #e1e2e2;
    --vscode-tab-activeBorderTop: #e2e2e2;
    --vscode-tab-unfocusedActiveBorderTop: rgba(226, 226, 226, 0.7);
    --vscode-tab-activeModifiedBorder: #33aaee;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 170, 238, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 170, 238, 0.7);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 170, 238, 0.25);
    --vscode-editorPane-background: #ffffff;
    --vscode-editorGroup-emptyBackground: #f7f7f6;
    --vscode-editorGroupHeader-tabsBackground: #ffffff;
    --vscode-editorGroupHeader-tabsBorder: #ffffff;
    --vscode-editorGroupHeader-noTabsBackground: #e9e9e8;
    --vscode-editorGroupHeader-border: #ffffff;
    --vscode-editorGroup-border: #e1e2e2;
    --vscode-editorGroup-dropBackground: rgba(255, 102, 0, 0.27);
    --vscode-editorGroup-dropIntoPromptForeground: #434343;
    --vscode-editorGroup-dropIntoPromptBackground: #f2f2f2;
    --vscode-sideBySideEditor-horizontalBorder: #e1e2e2;
    --vscode-sideBySideEditor-verticalBorder: #e1e2e2;
    --vscode-panel-background: #ffffff;
    --vscode-panel-border: rgba(128, 128, 128, 0.35);
    --vscode-panelTitle-activeForeground: #ff6600;
    --vscode-panelTitle-inactiveForeground: rgba(255, 102, 0, 0.75);
    --vscode-panelTitle-activeBorder: #000000;
    --vscode-panelInput-border: #dddddd;
    --vscode-panel-dropBorder: #ff6600;
    --vscode-panelSection-dropBackground: rgba(255, 102, 0, 0.27);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
    --vscode-banner-background: #699ace;
    --vscode-banner-foreground: #ff6600;
    --vscode-banner-iconForeground: #1a85ff;
    --vscode-statusBar-foreground: #3e0001;
    --vscode-statusBar-noFolderForeground: #3e0001;
    --vscode-statusBar-background: rgba(255, 102, 0, 0.2);
    --vscode-statusBar-noFolderBackground: #ededed;
    --vscode-statusBar-border: rgba(255, 102, 0, 0.43);
    --vscode-statusBar-focusBorder: #3e0001;
    --vscode-statusBar-noFolderBorder: rgba(255, 102, 0, 0.43);
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-focusBorder: #3e0001;
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-hoverForeground: #3e0001;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #3e0001;
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
    --vscode-statusBarItem-prominentHoverForeground: #3e0001;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-errorBackground: #990000;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverForeground: #3e0001;
    --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-warningBackground: #725102;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverForeground: #3e0001;
    --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-activityBar-background: #ffffff;
    --vscode-activityBar-foreground: #ff6600;
    --vscode-activityBar-inactiveForeground: #686969;
    --vscode-activityBar-border: #ffffff;
    --vscode-activityBar-activeBorder: #000000;
    --vscode-activityBar-activeBackground: #ffffff;
    --vscode-activityBar-dropBorder: #ff6600;
    --vscode-activityBarBadge-background: #ff6600;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-profileBadge-background: #c4c4c4;
    --vscode-profileBadge-foreground: #333333;
    --vscode-statusBarItem-remoteBackground: #ff6600;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverForeground: #3e0001;
    --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverForeground: #3e0001;
    --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-extensionBadge-remoteBackground: #ff6600;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-sideBar-background: #ffffff;
    --vscode-sideBar-foreground: #000000;
    --vscode-sideBar-border: rgba(255, 102, 0, 0.28);
    --vscode-sideBarTitle-foreground: #000000;
    --vscode-sideBar-dropBackground: #f9f5f5;
    --vscode-sideBarSectionHeader-background: rgba(255, 102, 0, 0.2);
    --vscode-sideBarSectionHeader-foreground: #3e0001;
    --vscode-sideBarSectionHeader-border: #ff6600;
    --vscode-titleBar-activeForeground: #3e0001;
    --vscode-titleBar-inactiveForeground: #acacab;
    --vscode-titleBar-activeBackground: rgba(255, 102, 0, 0.2);
    --vscode-titleBar-inactiveBackground: #f7f7f6;
    --vscode-titleBar-border: #ffffff;
    --vscode-menubar-selectionForeground: #ffffff;
    --vscode-menubar-selectionBackground: #ff6600;
    --vscode-notifications-foreground: #434343;
    --vscode-notifications-background: #f2f2f2;
    --vscode-notificationLink-foreground: #006ab1;
    --vscode-notificationCenterHeader-background: #e6e6e6;
    --vscode-notifications-border: #e6e6e6;
    --vscode-notificationsErrorIcon-foreground: #e51400;
    --vscode-notificationsWarningIcon-foreground: #bf8803;
    --vscode-notificationsInfoIcon-foreground: #1a85ff;
    --vscode-commandCenter-foreground: #3e0001;
    --vscode-commandCenter-activeForeground: #ffffff;
    --vscode-commandCenter-inactiveForeground: #acacab;
    --vscode-commandCenter-background: rgba(0, 0, 0, 0.05);
    --vscode-commandCenter-activeBackground: rgba(0, 0, 0, 0.08);
    --vscode-commandCenter-border: rgba(62, 0, 1, 0.2);
    --vscode-commandCenter-activeBorder: rgba(62, 0, 1, 0.3);
    --vscode-commandCenter-inactiveBorder: rgba(172, 172, 171, 0.25);
    --vscode-chat-requestBorder: rgba(0, 0, 0, 0.1);
    --vscode-chat-slashCommandBackground: #ff6600;
    --vscode-chat-slashCommandForeground: #ffffff;
    --vscode-simpleFindWidget-sashBorder: #c8c8c8;
    --vscode-commentsView-resolvedIcon: rgba(97, 97, 97, 0.5);
    --vscode-commentsView-unresolvedIcon: #ffffff;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(97, 97, 97, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #ffffff;
    --vscode-editorCommentsWidget-rangeBackground: rgba(255, 255, 255, 0.1);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(255, 255, 255, 0.1);
    --vscode-editorGutter-commentRangeForeground: #d0d0d0;
    --vscode-editorOverviewRuler-commentForeground: #d0d0d0;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #d0d0d0;
    --vscode-editorGutter-commentGlyphForeground: #000000;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #000000;
    --vscode-debugToolBar-background: #f3f3f3;
    --vscode-debugIcon-startForeground: #388a34;
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 102, 0.45);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(206, 231, 206, 0.45);
    --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.4);
    --vscode-mergeEditor-changeBase\.background: #ffcccc;
    --vscode-mergeEditor-changeBase\.word\.background: #ffa3a3;
    --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: #ffa600;
    --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
    --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
    --vscode-mergeEditor-conflict\.input1\.background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict\.input2\.background: rgba(64, 166, 255, 0.2);
    --vscode-settings-headerForeground: #444444;
    --vscode-settings-settingsHeaderHoverForeground: rgba(68, 68, 68, 0.7);
    --vscode-settings-modifiedItemIndicator: #66afe0;
    --vscode-settings-headerBorder: rgba(128, 128, 128, 0.35);
    --vscode-settings-sashBorder: rgba(128, 128, 128, 0.35);
    --vscode-settings-dropdownBackground: #ffffff;
    --vscode-settings-dropdownForeground: #222222;
    --vscode-settings-dropdownBorder: #bfbfbf;
    --vscode-settings-dropdownListBorder: #c8c8c8;
    --vscode-settings-checkboxBackground: #ffffff;
    --vscode-settings-checkboxForeground: #222222;
    --vscode-settings-checkboxBorder: #bfbfbf;
    --vscode-settings-textInputBackground: #ffffff;
    --vscode-settings-textInputForeground: #222222;
    --vscode-settings-textInputBorder: #bfbfbf;
    --vscode-settings-numberInputBackground: #ffffff;
    --vscode-settings-numberInputForeground: #222222;
    --vscode-settings-numberInputBorder: #bfbfbf;
    --vscode-settings-focusedRowBackground: rgba(240, 240, 240, 0.6);
    --vscode-settings-rowHoverBackground: rgba(240, 240, 240, 0.3);
    --vscode-settings-focusedRowBorder: #ffffff;
    --vscode-terminal-foreground: #333333;
    --vscode-terminal-selectionBackground: rgba(255, 102, 0, 0.27);
    --vscode-terminal-inactiveSelectionBackground: rgba(255, 102, 0, 0.13);
    --vscode-terminalCommandDecoration-defaultBackground: rgba(0, 0, 0, 0.25);
    --vscode-terminalCommandDecoration-successBackground: #2090d3;
    --vscode-terminalCommandDecoration-errorBackground: #e51400;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: rgba(128, 128, 128, 0.35);
    --vscode-terminal-findMatchBackground: #a8ac94;
    --vscode-terminal-hoverHighlightBackground: rgba(173, 214, 255, 0.07);
    --vscode-terminal-findMatchHighlightBackground: rgba(255, 102, 0, 0.27);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminal-dropBackground: rgba(255, 102, 0, 0.27);
    --vscode-terminal-tab\.activeBorder: #e1e2e2;
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: #e51400;
    --vscode-testing-peekHeaderBackground: rgba(229, 20, 0, 0.1);
    --vscode-testing-message\.error\.decorationForeground: #e51400;
    --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message\.info\.decorationForeground: rgba(0, 0, 0, 0.5);
    --vscode-welcomePage-background: #ffffff;
    --vscode-welcomePage-tileBackground: #f2f2f2;
    --vscode-welcomePage-tileHoverBackground: #dadada;
    --vscode-welcomePage-tileBorder: rgba(0, 0, 0, 0.1);
    --vscode-welcomePage-progress\.background: #ffffff;
    --vscode-welcomePage-progress\.foreground: #006ab1;
    --vscode-walkthrough-stepTitle\.foreground: #000000;
    --vscode-walkThrough-embeddedEditorBackground: #f4f4f4;
    --vscode-inlineChat-background: #f2f2f2;
    --vscode-inlineChat-border: #c8c8c8;
    --vscode-inlineChat-shadow: #dddddd;
    --vscode-inlineChat-regionHighlight: rgba(173, 214, 255, 0.15);
    --vscode-inlineChatInput-border: #c8c8c8;
    --vscode-inlineChatInput-focusBorder: #ffffff;
    --vscode-inlineChatInput-placeholderForeground: rgba(67, 67, 67, 0.5);
    --vscode-inlineChatInput-background: #ffffff;
    --vscode-inlineChatDiff-inserted: rgba(156, 204, 44, 0.13);
    --vscode-inlineChatDiff-removed: rgba(255, 0, 0, 0.1);
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugExceptionWidget-background: #f1dfde;
    --vscode-ports-iconRunningProcessForeground: #ff6600;
    --vscode-statusBar-debuggingBackground: #ededed;
    --vscode-statusBar-debuggingForeground: #3e0001;
    --vscode-statusBar-debuggingBorder: rgba(255, 102, 0, 0.43);
    --vscode-editor-inlineValuesForeground: rgba(0, 0, 0, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editorGutter-modifiedBackground: #2090d3;
    --vscode-editorGutter-addedBackground: #48985d;
    --vscode-editorGutter-deletedBackground: #e51400;
    --vscode-minimapGutter-modifiedBackground: #2090d3;
    --vscode-minimapGutter-addedBackground: #48985d;
    --vscode-minimapGutter-deletedBackground: #e51400;
    --vscode-editorOverviewRuler-modifiedForeground: rgba(32, 144, 211, 0.6);
    --vscode-editorOverviewRuler-addedForeground: rgba(72, 152, 93, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(229, 20, 0, 0.6);
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #be8700;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-notebook-cellBorderColor: #dbdbdb;
    --vscode-notebook-focusedEditorBorder: #ffffff;
    --vscode-notebookStatusSuccessIcon-foreground: #388a34;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #388a34;
    --vscode-notebookStatusErrorIcon-foreground: #ff0000;
    --vscode-notebookStatusRunningIcon-foreground: #434343;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #dbdbdb;
    --vscode-notebook-selectedCellBorder: #dbdbdb;
    --vscode-notebook-focusedCellBorder: #ffffff;
    --vscode-notebook-inactiveFocusedCellBorder: #dbdbdb;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
    --vscode-notebook-cellInsertionIndicator: #ffffff;
    --vscode-notebookScrollbarSlider-background: rgba(100, 100, 100, 0.4);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-notebookScrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
    --vscode-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
    --vscode-notebook-cellEditorBackground: #ffffff;
    --vscode-notebook-editorBackground: #ffffff;
    --vscode-keybindingTable-headerBackground: rgba(67, 67, 67, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(67, 67, 67, 0.04);
    --vscode-searchEditor-textInputBorder: #bfbfbf;
    --vscode-debugTokenExpression-name: #9b46b0;
    --vscode-debugTokenExpression-value: rgba(108, 108, 108, 0.8);
    --vscode-debugTokenExpression-string: #a31515;
    --vscode-debugTokenExpression-boolean: #0000ff;
    --vscode-debugTokenExpression-number: #098658;
    --vscode-debugTokenExpression-error: #e51400;
    --vscode-debugView-exceptionLabelForeground: #ffffff;
    --vscode-debugView-exceptionLabelBackground: #a31515;
    --vscode-debugView-stateLabelForeground: #434343;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #1a85ff;
    --vscode-debugConsole-warningForeground: #bf8803;
    --vscode-debugConsole-errorForeground: #ff0000;
    --vscode-debugConsole-sourceForeground: #434343;
    --vscode-debugConsoleInputIcon-foreground: #434343;
    --vscode-debugIcon-pauseForeground: #007acc;
    --vscode-debugIcon-stopForeground: #a1260d;
    --vscode-debugIcon-disconnectForeground: #a1260d;
    --vscode-debugIcon-restartForeground: #388a34;
    --vscode-debugIcon-stepOverForeground: #007acc;
    --vscode-debugIcon-stepIntoForeground: #007acc;
    --vscode-debugIcon-stepOutForeground: #007acc;
    --vscode-debugIcon-continueForeground: #007acc;
    --vscode-debugIcon-stepBackForeground: #007acc;
    --vscode-scm-providerBorder: #c8c8c8;
    --vscode-extensionButton-background: #ff6600;
    --vscode-extensionButton-foreground: #ffffff;
    --vscode-extensionButton-hoverBackground: #ff6600;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionButton-prominentBackground: #ff6600;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #ff6600;
    --vscode-extensionIcon-starForeground: #df6100;
    --vscode-extensionIcon-verifiedForeground: #006ab1;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #b51e78;
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiGreen: #00bc00;
    --vscode-terminal-ansiYellow: #949800;
    --vscode-terminal-ansiBlue: #0451a5;
    --vscode-terminal-ansiMagenta: #bc05bc;
    --vscode-terminal-ansiCyan: #0598bc;
    --vscode-terminal-ansiWhite: #555555;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightRed: #cd3131;
    --vscode-terminal-ansiBrightGreen: #14ce14;
    --vscode-terminal-ansiBrightYellow: #b5ba00;
    --vscode-terminal-ansiBrightBlue: #0451a5;
    --vscode-terminal-ansiBrightMagenta: #bc05bc;
    --vscode-terminal-ansiBrightCyan: #0598bc;
    --vscode-terminal-ansiBrightWhite: #a5a5a5;
    --vscode-interactive-activeCodeBorder: #1a85ff;
    --vscode-interactive-inactiveCodeBorder: #dbdbdb;
    --vscode-gitDecoration-addedResourceForeground: #587c0c;
    --vscode-gitDecoration-modifiedResourceForeground: #895503;
    --vscode-gitDecoration-deletedResourceForeground: #ad0707;
    --vscode-gitDecoration-renamedResourceForeground: #007100;
    --vscode-gitDecoration-untrackedResourceForeground: #007100;
    --vscode-gitDecoration-ignoredResourceForeground: #8e8e90;
    --vscode-gitDecoration-stageModifiedResourceForeground: #895503;
    --vscode-gitDecoration-stageDeletedResourceForeground: #ad0707;
    --vscode-gitDecoration-conflictingResourceForeground: #ad0707;
    --vscode-gitDecoration-submoduleResourceForeground: #1258a7;
}
