src/
src.gen/

node_modules/*
# Do not ignore packaged included as bundleDependencies
!node_modules/@amzn/codewhisperer-streaming
!node_modules/@aws/lsp-fqn
!dist

bundle/
package-lock.json
.*
tsconfig.*
webpack.*.config.js