name: Create agent-standalone bundles

on:
    push:
        branches: [main, feature/*, integ-tests] # todo: remove integ-tests before merge

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  lfs: true

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'npm'

            - name: Install dependencies
              run: npm i

            - name: Compile project
              run: npm run compile

            - name: Generate agent standalone
              run: npm run ci:generate:agent-standalone -w app/aws-lsp-codewhisperer-runtimes

            # We "flatten" out each clients.zip-servers.zip pairing so that the
            # downloadable artifacts are nicely organized, one per platform.
            - name: Prepare and upload artifacts
              run: |
                  platforms=("linux-arm64" "linux-x64" "mac-arm64" "mac-x64" "win-x64")
                  for platform in "${platforms[@]}"; do
                    echo "Preparing artifacts for $platform"
                    mkdir -p "artifacts/$platform"
                    cp "app/aws-lsp-codewhisperer-runtimes/build/archives/shared/clients.zip" "artifacts/$platform/"
                    cp "app/aws-lsp-codewhisperer-runtimes/build/archives/agent-standalone/$platform/servers.zip" "artifacts/$platform/"
                  done

            # GitHub Actions zips the archive, so we upload the folder used to
            # produce clients.zip. Otherwise we have a clients.zip artifact
            # that contains our clients.zip file.
            # app/aws-lsp-codewhisperer-runtimes/build/archives/shared/clients.zip
            - name: Upload clients.zip
              uses: actions/upload-artifact@v4
              with:
                  name: clients
                  path: app/aws-lsp-codewhisperer-runtimes/build/private/bundle/client
                  if-no-files-found: error

            - name: Upload linux-arm64
              uses: actions/upload-artifact@v4
              with:
                  name: linux-arm64
                  path: artifacts/linux-arm64/
                  if-no-files-found: error

            - name: Upload linux-x64
              uses: actions/upload-artifact@v4
              with:
                  name: linux-x64
                  path: artifacts/linux-x64/
                  if-no-files-found: error

            - name: Upload mac-arm64
              uses: actions/upload-artifact@v4
              with:
                  name: mac-arm64
                  path: artifacts/mac-arm64/
                  if-no-files-found: error

            - name: Upload mac-x64
              uses: actions/upload-artifact@v4
              with:
                  name: mac-x64
                  path: artifacts/mac-x64/
                  if-no-files-found: error

            - name: Upload win-x64
              uses: actions/upload-artifact@v4
              with:
                  name: win-x64
                  path: artifacts/win-x64/
                  if-no-files-found: error
