name: Language Server CI
on:
    push:
        branches: [main, dev, feature/*]
    pull_request:
        branches: [main, dev, feature/*]

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Sync Code
              uses: actions/checkout@v3
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: Build
              run: |
                  npm ci
                  npm run check:formatting
            - name: Test
              run: |
                  npm run test
    build:
        name: Package
        runs-on: ubuntu-latest
        steps:
            - name: Sync Code
              uses: actions/checkout@v3
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: Build
              run: |
                  npm ci
            - name: Create runtime bundles
              run: |
                  npm run package
            # TODO : Can we easily create ARM binaries from GitHub?
            - name: Attach binaries
              uses: actions/upload-artifact@v3
              with:
                  name: language-servers
                  # Make sure you don't include node_modules
                  path: app/**/build/*
    test-windows:
        name: Test (Windows)
        runs-on: windows-latest
        steps:
            - name: Sync Code
              uses: actions/checkout@v3
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: Build
              run: |
                  npm ci
            - name: Test
              run: |
                  npm run test
    build-windows:
        name: Package (Windows)
        runs-on: windows-latest
        steps:
            - name: Sync Code
              uses: actions/checkout@v3
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: Build
              run: |
                  npm ci
            - name: Create runtime bundles
              run: |
                  npm run package
            # TODO : Can we easily create ARM binaries from GitHub?
            - name: Attach binaries
              uses: actions/upload-artifact@v3
              with:
                  name: language-servers
                  # Make sure you don't include node_modules
                  path: app/**/build/*
