name: Mynah UI - Unit Tests
on:
    workflow_call:
    push:
        branches:
            - main
        paths:
            - 'mynah-ui/**'
    pull_request:
        paths:
            - 'mynah-ui/**'

jobs:
    unit-tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: '24.x'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build
              working-directory: ./mynah-ui

            - name: Run Unit tests
              run: npm run test:unit
              working-directory: ./mynah-ui

            - name: Upload coverage reports
              uses: actions/upload-artifact@v4
              with:
                  name: mynah-ui-coverage-report
                  path: ./mynah-ui/coverage
