name: Mynah UI - Lint
on:
    workflow_call:
    push:
        branches:
            - main
        paths:
            - 'mynah-ui/**'
    pull_request:
        paths:
            - 'mynah-ui/**'

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: '24.x'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: npm ci
              working-directory: ./mynah-ui

            - name: Build
              run: npm run build && cd ./ui-tests && npm install && cd ..
              working-directory: ./mynah-ui

            - name: Run linter
              run: npm run lint
              working-directory: ./mynah-ui
